In [6]:
import pandas as pd
import sympy as sp

# create a dataframe with the data
data = {'Se [MPa]': [100, 200, 300, 400], 'd [mm]': [10, 20, 30, 40], 'kf': [1.0, 1.5, 2.0, 2.5], 'kfs': [0.9, 0.8, 0.7, 0.6]}
df = pd.DataFrame(data)

# define the symbols and equation
Se, d, kf, kfs = sp.symbols('Se d kf kfs')
expr = sp.Eq(Se*sp.sqrt(d)*kf*kfs, 100)

# define a function to solve the equation for each row of the dataframe
def solve_expr(row):
    return expr.subs({Se: row['Se [MPa]'], d: row['d [mm]']/1000, kf: row['kf'], kfs: row['kfs']}).simplify()

# apply the function to each row of the dataframe
df['Result'] = df.apply(solve_expr, axis=1)

df

   Se [MPa]  d [mm]   kf  kfs Result
0       100      10  1.0  0.9  False
1       200      20  1.5  0.8  False
2       300      30  2.0  0.7  False
3       400      40  2.5  0.6  False